<div class="app-toggler d-block d-sm-block d-md-none">
    <button (click)="toggleSidebar()" *ngIf="isHidden" class="menu-btn"><i class="fa-solid fa-bars"></i></button>
    <button (click)="toggleSidebar()" *ngIf="!isHidden" class="menu-close-btn"><i class="fa-solid fa-bars"></i></button>
</div>

<h1>Design by<b> HESHAN</b></h1>

<ul>
    <li [class.active]="isActive('/dashboard')">
        <a routerLink="/dashboard"><i class="fa-solid fa-house-chimney"></i> Dashboard</a>
    </li>
    <li [class.active]="isActive('/applyleave')">
        <a routerLink="/applyleave"><i class="fa-solid fa-calendar-plus"></i> Apply Leave</a>
    </li>
    <li [class.active]="isActive('/requestedleave')">
        <a routerLink="/requestedleave"><i class="fa-solid fa-calendar-plus"></i> Requested Leaves</a>
    </li>
    <li [class.active]="isActive('/department')">
        <a routerLink="/department"><i class="fa-solid fa-calendar-plus"></i> Department</a>
    </li>
    <li [class.active]="isActive('/employee')">
        <a routerLink="/employee"><i class="fa-solid fa-calendar-plus"></i> Employee</a>
    </li>
    <li [class.active]="isActive('/salaryadvance')">
        <a routerLink="/salaryadvance"><i class="fa-solid fa-calendar-plus"></i> Salary Advance</a>
    </li>
</ul>
