<div id="wrapper">
    <aside class="sidebar" [ngClass]="{'hidden': isHidden}">
        <app-sidebar></app-sidebar>
    </aside>
    <section class="main-section" [ngClass]="{'move-left': isHidden}">
        <header>
            <div class="app-toggler">
                <button (click)="toggleSidebar()" *ngIf="isHidden" class="menu-btn"><i class="fa-solid fa-bars"></i> <span>Menu</span></button>
                <button (click)="toggleSidebar()" *ngIf="!isHidden" class="menu-close-btn"><i class="fa-solid fa-arrow-left"></i></button>
            </div>
            <div class="app-bar">
                <app-topbar></app-topbar>
            </div>
        </header>
        <div class="pager">
            <div class="container-fluid"><router-outlet></router-outlet></div>
        </div>
        <footer>
            <app-footer></app-footer>
        </footer>
    </section>
</div>