<div id="wrapper">
  <aside class="sidebar" [ngClass]="{'active': isSidebarActive}">
      <app-sidebar></app-sidebar>
  </aside>
  <section class="main-section" [ngClass]="{'active': isSidebarActive}">
      <app-topbar></app-topbar>
      <div class="pager-wrap">
          <div class="container-fluid">
            <div class="pager-wrap-sec">
              <div class="row mb-0 mb-sm-3">
                <div class="col-6 col-sm-6 col-md-3 mb-3 mb-md-0">
                  <div class="card leave-card annual">
                    <p>7<small>/14</small></p>
                    <h2>Annual Leave</h2>
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 mb-3 mb-md-0">
                  <div class="card leave-card casual">
                    <p>4<small>/7</small></p>
                    <h2>Casual Leave</h2>
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 mb-3 mb-md-0">
                  <div class="card leave-card medical">
                    <p>5<small>/taken</small></p>
                    <h2>Medical Leave</h2>
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 mb-3 mb-md-0">
                  <div class="card leave-card short">
                    <p>2<small>/2</small></p>
                    <h2>Short Leave</h2>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 inner-tbl">
                  <h5>Leave Record(s)</h5>
                  <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="employeeName">
                      <th mat-header-cell *matHeaderCellDef width="140px" mat-sort-header>Leave Type</th>
                      <td mat-cell *matCellDef="let record">{{ record.leavetype }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="startDate">
                      <th mat-header-cell *matHeaderCellDef width="120px">Start Date</th>
                      <td mat-cell *matCellDef="let record">{{ record.startDate }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="endDate">
                      <th mat-header-cell *matHeaderCellDef width="100px">End Date</th>
                      <td mat-cell *matCellDef="let record">{{ record.endDate }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="description" width="100px">
                      <th mat-header-cell *matHeaderCellDef>Reason</th>
                      <td mat-cell *matCellDef="let record">{{ record.description }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef width="110px">Status</th>
                      <td mat-cell *matCellDef="let record"><span [ngClass]="getStatusLabelClass(record.status)"> </span></td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            
                  <mat-paginator #paginator1 [pageSize]="5"></mat-paginator>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 inner-tbl mt-3 mt-sm-0">
                  <h5>Team Availability</h5>
                  <table mat-table [dataSource]="dataSource2" matSort>
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
                      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="designation">
                      <th mat-header-cell *matHeaderCellDef>Designation</th>
                      <td mat-cell *matCellDef="let user">{{ user.designation }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="avatar">
                      <th mat-header-cell *matHeaderCellDef width="60px"></th>
                      <td mat-cell *matCellDef="let user"><img [src]="user.avatar" alt="User Avatar" class="img-fluid"
                          [ngClass]="getAvailableLabelClass(user.availability)" /><span class="avbl"
                          [ngClass]="getAvailableLabelClass(user.availability)"> </span></td>
                    </ng-container>
            
                    <ng-container matColumnDef="mobile">
                      <th mat-header-cell *matHeaderCellDef>Mobile</th>
                      <td mat-cell *matCellDef="let user">{{ user.mobile }}</td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                  </table>
            
                  <mat-paginator #paginator2 [pageSize]="5"></mat-paginator>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h5>Employees</h5>
                </div>
                <div class="owl-wrapper">
                  <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let user of userList">
                      <div class="slide">
                        <div class="card">
                          <div class="user-details">
                            <img [src]="user.avatar" alt="User Avatar" class="img-fluid" />
                            <h3>{{ user.name }}</h3>
                            <p>{{ user.designation }}</p>
                            <p><i class="fa-solid fa-phone"></i> {{ user.mobile }}</p>
                            <p><i class="fa-solid fa-envelope"></i> {{ user.email }}</p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </owl-carousel-o>
                </div>
              </div>
            </div>
          </div>
      </div>
      <footer>
          <app-footer></app-footer>
      </footer>
  </section>
</div>